version: 1.0.{build}
image: Visual Studio 2019
configuration: Release
platform: Any CPU
init:
- git config --global core.autocrlf true
before_build:
- echo /restore /bl >> msbuild.rsp
build:
  verbosity: minimal
test_script:
- ps: |
    $unitTestAssembly = "Tvl.VisualStudio.MouseFastScroll.UnitTests\bin\$env:CONFIGURATION\net452\Tvl.VisualStudio.MouseFastScroll.UnitTests.dll"
    $integrationTestAssembly = "Tvl.VisualStudio.MouseFastScroll.IntegrationTests\bin\$env:CONFIGURATION\net46\Tvl.VisualStudio.MouseFastScroll.IntegrationTests.dll"
    $buildProperties = [xml](Get-Content Directory.Build.props)
    $openCoverVersion = $buildProperties.SelectSingleNode('/Project/ItemGroup/PackageReference[@Include="OpenCover"]').Version
    $openCoverConsole = Join-Path (Join-Path $env:UserProfile '.nuget\packages\') "opencover\$openCoverVersion\tools\OpenCover.Console.exe"
    $codecovVersion = $buildProperties.SelectSingleNode('/Project/ItemGroup/PackageReference[@Include="Codecov"]').Version
    $codecov = Join-Path (Join-Path $env:UserProfile '.nuget\packages\') "codecov\$codecovVersion\tools\codecov.exe"
    &$openCoverConsole `
        -register:user `
        -returntargetcode `
        -hideskipped:All `
        -filter:"+[Tvl*]*" `
        -excludebyattribute:*.ExcludeFromCodeCoverage* `
        -excludebyfile:*\*Designer.cs `
        -output:OpenCover.MouseFastScroll.UnitTests.xml `
        -target:"$env:xunit20\xunit.console.x86.exe" `
        -targetargs:"$unitTestAssembly -appveyor -noshadow"
    if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
    #&$openCoverConsole `
    #    -register:user `
    #    -returntargetcode `
    #    -hideskipped:All `
    #    -filter:"+[Tvl*]*" `
    #    -excludebyattribute:*.ExcludeFromCodeCoverage* `
    #    -excludebyfile:*\*Designer.cs `
    #    -searchdirs:"Tvl.VisualStudio.MouseFastScroll.UnitTests\bin\$env:CONFIGURATION\net452" `
    #    -output:OpenCover.MouseFastScroll.IntegrationTests.xml `
    #    -target:"$env:xunit20\xunit.console.x86.exe" `
    #    -targetargs:"$integrationTestAssembly -appveyor -noshadow"
    #if ($LastExitCode -ne 0) { $host.SetShouldExit($LastExitCode) }
    &$codecov -f OpenCover.MouseFastScroll.UnitTests.xml --flag unit
    #&$codecov -f OpenCover.MouseFastScroll.IntegrationTests.xml --flag integration
artifacts:
- path: 'Tvl.VisualStudio.MouseFastScroll\**\*.vsix'
- path: '\msbuild.binlog'
  name: build log
