<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1573" Action="Hidden" />
    <Rule Id="CS1591" Action="Hidden" />
    <Rule Id="CS1712" Action="Hidden" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1609" Action="Warning" />
    <Rule Id="SX1101" Action="Warning" />
  </Rules>
</RuleSet>